<script src="/thirdparty/ckeditor4/ckeditor.js"></script>

<h1>写博客</h1>
<hr>

<div class="form-group">
	<input type="text" id="txtTitle" class="form-control" placeholder="输入文章标题">
</div>

<div class="form-group">
<textarea name="editor" id="myEditor" rows="20" cols="80">
	This is my textarea to be replaced with CKEditor
</textarea>
<script>
	CKEDITOR.replace("myEditor")
</script>
</div>

<div class="form-group">
	<label for="shortDsc">简要描述</label>
	<textarea class="form-control" name="shortDsc" rows="5" cols="80"></textarea>
</div>

<div class="form-group">
	<label for="articleSort">文章类型</label>
	<select name="articleSort">
		<option value="0">请选择</option>
		<option value="1">原创</option>
		<option value="2">转载</option>
		<option value="4">翻译</option>
	</select>
	<label for="articleClasses">博客分类</label>
	<select name="articleClasses">
		<option value="0">选择分类</option>
                <option value="28">人工智能</option>
		<option value="1">移动开发</option>
		<option value="29">物联网</option>
		<option value="15">架构</option>
		<option value="2">云计算/大数据</option>
		<option value="17">互联网</option>
		<option value="30">游戏开发</option>
		<option value="12">运维</option>
		<option value="6">数据库</option>
		<option value="14">前端</option>
		<option value="31">后端</option>
		<option value="16">编程语言</option>
		<option value="3">研发管理</option>
		<option value="32">安全</option>
		<option value="33">程序人生</option>
		<option value="34">区块链</option>
		<option value="35">音视频开发</option>
		<option value="36">资讯</option>
		<option value="37">计算机理论与基础</option>
	</select>
</div>


<div class="form-group">
	<label><input type="checkbox" value="">秘密文章</label>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" id="btnCreate">发布</button>　
</div>