<script src="/thirdparty/ckeditor4/ckeditor.js"></script>

<h1>写博客</h1>
<hr>

<div class="form-group">
	<input type="text" id="txtTitle" class="form-control" placeholder="输入文章标题">
</div>

<div class="form-group">
<textarea name="editor" id="myEditor" rows="20" cols="80">
	This is my textarea to be replaced with CKEditor
</textarea>
<script>
	CKEDITOR.replace("myEditor")
</script>
</div>

<div class="form-group">
	<label for="articleSort">文章类型</label>
	<select name="articleSort">
		{{range .ArticleSorts}}
		<option value="{{.}}">{{.}}</option>
		{{end}}
	</select>
	<label for="articleClasses">博客分类</label>
	<select name="articleClasses">
		{{range .ArticleClasses}}
		<option value="{{.}}">{{.}}</option>
		{{end}}
	</select>
</div>


<div class="form-group">
	<label><input type="checkbox" value="">秘密文章</label>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" id="btnCreate">发布</button>　
</div>