
<p>
        @Nero Where to go?
</p>
<br/>
<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand" href="/">首页</a>
        </div>
        <div>
                <ul class="nav navbar-nav">
                        <li><a href="#">英语学习</a></li>
                        {{if .CommonUserInfo}}
                        <li><a href="/article/create">写博客</a></li>
                        <li><a href="/article/listmine">博文列表</a></li>
                        {{end}}
                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        管理
                                        <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                        <li><a href="/manager/userrightitems">用户权限选项</a></li>
                                        <li><a href="/manager/userrightsets">用户权限集</a></li>
                                        <!--li><a href="/manager/defaultuserrightsets">默认权限配置</a></li-->
                                        <li><a href="/manager/articlesorts">文章类型</a></li>
                                        <li><a href="/manager/articleclasses">文章归类</a></li>
                                </ul>
                        </li>
                        {{if .CommonUserInfo}}
                                <li><a href="#">{{.CommonUserInfo.name}}</a></li>
                                <li><a href="/logout">登出</a></li>
                        {{else}}
                                <li><a href="/login">登陆</a></li>
                                <li><a href="/regist">注册</a></li>
                        {{end}}
                </ul>
        </div>
        </div>
</nav>